<!DOCTYPE html>
<html>
  <head>
    <title>Hatharoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'header/header' %>
  <%- flash.each do |name, msg| %>
    <%- if msg.is_a?(String) %>
      <div class="container">
        <div class="alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= yield %>
  </body>
</html>
